* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
}

button {
  margin: 10px;
  background-color: lightblue;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: lightgray;
}

p {
  overflow: hidden;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#edit-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-card {
  display: flex;
  flex-basis: 200px;
  max-width: 600px;
  flex-grow: 1;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(141, 207, 230);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#login, #register {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  background-color: rgb(141, 207, 230);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

#message {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(141, 207, 230);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

#messages {
  text-align: center;
  flex-basis: 49vw;
}

#message-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#navbar {
  text-align: center;
}

#navlink {
  margin: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: lightblue;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#navlink:hover {
  background-color: lightgray;
}

#post {
  margin-bottom: 10px;
}

#post-message {
  display: flex;
  width: 100%;
  text-align: center;
}

#posts {
  width: 49vw;
}

#post-card {
  display: flex;
  flex-basis: 200px;
  max-width: 400px;
  flex-grow: 1;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(141, 207, 230);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#profile-page {
  display: flex;
}

#site-title {
  text-align: left;
  background-color: rgb(141, 207, 230);
  padding: 10px;
  margin-top: 0px;
  width: 100vw;
}

#title-input, #location-input, #price-input, #description-input, #username-input, #password-input {
  text-align: center;
  margin: 10px;
}

#view-button {
  margin-top: auto;
  margin-bottom: 10px;
}

#welcome {
  text-decoration: underline;
}
